
#about {
   float: left;
   font-family: 'Ubuntu Mono', monospace;
   font-size: 40px;
   position: fixed;
   text-align: center;
   padding-right: 20px;
   padding-left: 43vh;
   transform: rotate(90deg) translateX(-56px);
   transform-origin: bottom left;
}

#video {
   float: right;
   font-family: 'Ubuntu Mono', monospace;
   font-size: 40px;
   position: fixed;
   text-align: center;
   padding-left: 20px;
   padding-right: 43vh;
   transform: rotate(-90deg) translateX(56px);
   transform-origin: bottom right;
   right: 2vw;
}

#portfolio {
   font-family: 'Ubuntu Mono', monospace;
   font-size: 40px;
   text-align: center;
   position: fixed;
   bottom: 20px;
   margin: auto;
   width: 100vw;
}

#tenprinciples {
   font-family: 'Ubuntu Mono', monospace;
   font-size: 40px;
   text-align: center;
   position: fixed;
   height: 20px;
   top: 2vw;
   right: 0;
   bottom: 0;
   left: 0;
}

body {
   text-align: center;
   margin: 10px 20px;
   background-color: #eee;
}

#hero {
   margin: auto;
   padding-top: 160px;
}

li {
   border-bottom: 2px;
   border-color: #444;
}

a:hover,
a:visited,
a:link,
a:active {
   text-decoration: none;
   color: #444;
}
