figure {
   position: relative;
   width: 300px;
   height: 300px;
}

figure img {
   width: 100%;
   height: 100%;
   transition: .7s;
   backface-visibility: hidden;
}

figure figcaption {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   transform: rotateY(180deg);
   transition: .8s;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
}

figure:hover img {
   opacity: .5;
}

figure:active figcaption {
   transform: rotateY(0);
}

figure:active img {
   transform: rotateY(180deg);
   opacity: 0;
}
